body {
   margin: 0;
  height: 100vh;
  font-size: 1rem;
  font-family: SF Pro Display,Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Common */
header{
  font-size: 14px;;
}


h1 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}


input,
select,
textarea,
button {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;

}

input:hover,
select:hover,
textarea:hover,
button:hover {

}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid black;
  margin: 1rem;
}

.product-info {
  padding: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.small-container {
  max-width: 600px;
}


/* Buttons */
.updateButton{
  background-color: #2596be
  ;
}


/* side bar */
.navbar-brand{
  font-weight: bold;
}
.side-navbar{
  width: 240px;
  height: 100%;
  position: absolute;
   left: -300px; /*hidden by default */
  background-color: black;
  transition: 0.5s;
}
.site-container{
  min-height: 100vh;
  transition: 0.4s;
}
.active-container{
  margin-left: 240px;
}

.active-nav{
  left: 0; /*making the side bar actve(to show) */
}


/* M A P */
.full-box {
  height: 100vh;
  max-width: initial; /* make thepage full  screen */
}

/* hide header and footer  */
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}


/* when in ful  box reset mt-3 to 0 */
.full-box .mt-3 {
  margin-top: 0 !important;
}

/* search box above the map  */
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail{
  padding: 0;
}